@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

:root {
  --theme: #FF6000;
  /* --theme : #E26C01; */
  --secondary: #EFB51C;
  --secondary: #dba612;
  --input: #E9E9ED;
  --pass: rgb(23, 175, 99);
  --royal: #F5E987;
}

.big {
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
}

.cash {
  font-family: 'Poppins', sans-serif;
}

.caps {
  font-family: 'Pacifico', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

ul,
li {
  list-style: none;
}


.cut {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

#scrollable {
  overflow: scroll;
}

#scrollable::-webkit-scrollbar {
  display: none;
}


#right {
  background: var(--pass);
}

#wrong {
  background: tomato;
}


#wished {
  color: palevioletred;
}

#frame {
  width: 90%;
  padding: 5vh 5%;
  display: grid;
  gap: 4vh;
  grid-template-columns: 1fr;
}

#box,
#boxFull {
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#boxMin {
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#boxNo {
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 0;
  padding-bottom: 0;
}

#boxNoTop {
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
}

#box h3,
#boxFull h3 {
  font-size: 1.7rem;
}

@media all and (max-width:1050px) {

  #box,
  #boxFull {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }



  #boxMin {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  #boxNoTop {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
  }

  #boxNo {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 0;
    padding-bottom: 0;
  }

}

@media all and (max-width:500px) {
  #boxNo {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }


  #boxFull {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: 8px;
  background: gray;
  border-radius: 40px;
}

body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background: wheat;
  border-radius: 40px;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

.addItem {
  border: 1px solid darkgray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.addItem svg {
  font-size: 4rem;
}

.timeBox {
  display: flex;
  gap: 1rem;
}

.timeBox p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 45px;
  height: 45px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.timeBox p span {
  font-family: 'Poppins', sans-serif;
}

.timeBox p small {
  font-size: 0.7rem;
}

.cancel {
  font-size: 1.3rem;
  text-decoration: line-through;
}

.price {
  font-size: 1.9rem;
  color: gray;
}

.choice,
.myChoice {
  padding: 5px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.choice {
  background: #ffefe3;
  color: black;
}

.myChoice {
  background: skyblue;
  color: white !important;
}

.tab,
.myTab {
  padding: 5px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 40px;
  width: max-content;
}

.tab {
  border: 1px solid darkgray;
}


.myTab {
  background: #dbdbed;
  background: #8e8eb2;
  border: 1px solid transparent;
  color: white;
}

@media all and (max-width:500px) {

  .tab,
  .myTab {
    margin: 5px 10px 5px 0;
  }
}