@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

:root {
  --theme: #FF6000;
  --secondary: #EFB51C;
  --secondary: #dba612;
  --input: #E9E9ED;
  --pass: rgb(23, 175, 99);
}

.big {
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
}

.cash {
  font-family: 'Poppins', sans-serif;
}

.caps {
  font-family: 'Pacifico', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

ul,
li {
  list-style: none;
}


.cut {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
}


#wished {
  color: black;
  color: wheat;
}

#frame {
  width: 90%;
  padding: 5vh 5%;
  display: grid;
  gap: 4vh;
  grid-template-columns: 1fr;
}

#box {
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#box h3 {
  font-size: 1.7rem;
}

@media all and (max-width:850px) {
  #box {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: 8px;
  background: gray;
  border-radius: 40px;
}

body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background: wheat;
  border-radius: 40px;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

.addItem{
  border: 1px solid darkgray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.addItem svg{
  font-size: 4rem;
}