.conBox {
  width: 95%;
  padding: 2.5vh 2.5%;
  display: grid;
  gap: 1vw;
  grid-template-columns: 1fr;
}

.header {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

.controlBox {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.controlBox article {
  display: flex;
  gap: 1rem;
}

.controlBox article a {
  position: relative;
  display: flex;
  padding: 3px 12px;
  border-radius: 40px;
  gap: 0.5rem;
  color: white;
  color: var(--theme);
  background: #ffefe3;
  cursor: pointer;
  color: black;
  align-items: center;
}

.controlBox div img {
  border-radius: 50%;
}

.controlBox div a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: black;
}

.con {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

.con .top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}



.con header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.con header a{
  color: gray;
}

.con h3 {
  font-weight: 600;
  font-size: 1.2rem;
  border-bottom: 4px solid darkgray;
  letter-spacing: 1px;
  width: max-content;
}

.con .top .right {
  display: grid;
  grid-template-columns: 1fr;
}

.con .top .right section {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
}

.promo {
  display: grid;
  grid-template-columns: 120px 1fr 100px;
  gap: 1rem;
  padding: 10px;
  align-items: center;
  background: #F5E987;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: black;
}

.promo h2 {
  font-size: 1.4rem;
}

.promo article strong {
  font-size: 1.2rem;
}

.promo article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.promo svg {
  transition: 0.5s ease;
  font-size: 3rem;
}

.promo:hover svg {
  rotate: 90deg;
}

.recentBox {
  display: grid;
  grid-template-columns: 1fr;
}

.recentBox ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}



.recentBox ul a {
  border: 1px solid var(--input);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  text-align: center;
  color: black;
  position: relative;
}

.recentBox ul a .tag {
  position: absolute;
  top: 0;
  left: 0;
  background: tomato;
  color: white;
  padding: 3px;
}

.recentBox ul a strong {
  font-size: 1.2rem;
}

.recentBox ul a legend {
  background: #ffefe3;
  background: salmon;
  padding: 3px 10px;
  color: white;
  font-size: 0.8rem;
  border-radius: 40px;
}

.recentBox ul a button {
  background: transparent;
}

.recentBox ul a button svg {
  position: relative;
  right: 0;
  font-size: 1.5rem;
  transition: 0.5s ease;
}

.recentBox ul a:hover svg {
  right: -20px;
}

@media all and (max-width:1200px) {
  .con .top {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width:800px) {
  .header {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .con .top,
  .con {
    gap: 2rem;
  }
}

@media all and (max-width:650px) {
  .con .top .right {
    gap: 0.5rem;
  }

  .statusBox,
  .controlBox {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .recentBox ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .recentBox ul a:nth-child(3) {
    display: none;
  }

  .promo {
    padding: 10px;
    grid-template-columns: 120px 1fr;
    gap: 0.5rem;
  }


  .promo svg {
    display: none;
  }
}

@media all and (max-width:400px) {
  .trending header{
    margin-bottom: 10px;
  }
  .recentBox ul{
    grid-template-columns: 1fr;
  }
  .promo {
    grid-template-columns: 1fr;
  }

  .promo img {
    margin: auto;
  }
  .promo article{
    margin: auto;
    text-align: center;
  }
}