.formBox {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  position: relative;
  height: 100%;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statBox {
  /* width: 200px; */
  /* height: 100px; */
  background: white;
  padding: 20px;
  z-index: 100;
  display: grid;
  gap: 0.5rem;
}

.statBox p {
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
  gap: 1rem;
}

.statBox p sub {
  display: block;
  width: 15px;
  height: 15px;
  background: tomato;
  border-radius: 50%;
}

.statBox span {
  font-size: 0.9rem;
}

.left img {
  object-fit: cover;
}

.right {
  margin: auto;
}

.formBox form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.formBox form div {
  width: 280px;
  display: grid;
}

.contactRow {
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 0.2rem;
}

.formBox form input {
  padding: 10px 10px;
  background: var(--input);
  font-family: 'Poppins', sans-serif;
}

.formBox form select,
.formBox form option {
  background: var(--input);
  font-family: 'Poppins', sans-serif;
}

.formBox form section,
.formBox form section div {
  display: flex;
  flex-direction: column;
}

.formBox form section div span {
  font-size: 0.9rem;
  font-weight: 600;
}

.formBox form section div {
  gap: 0.5rem;
}

.formBox form section {
  gap: 1rem;
}

.formBox form button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: white;
  font-size: 1rem;
  background: var(--theme);
  cursor: pointer;
}

.formBox form header {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.formBox form header svg {
  font-size: 2rem;
  color: black;
}

.formBox form footer {
  width: 100%;
  border-top: 2px solid var(--pass);
  padding: 3px 0;
  border-bottom: 2px solid var(--pass);
  display: flex;
  justify-content: center;
}

.formBox form footer svg {
  cursor: pointer;
  font-size: 3rem;
}

.formBox form p {
  display: flex;
}

.formBox form p legend {
  background: rgb(54, 126, 199);
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: white;
  justify-content: center;
}

.formBox form p sub {
  display: block;
  width: 50px;
  color: white;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formBox form p sub svg {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}


.miniLoader {
  display: flex;
  gap: 0.5rem;
  min-height: 20px;
}

.miniLoader sub {
  display: block;
  width: 10px;
  height: 20px;
  border-radius: 40px;
  background: white;
  animation: toggleHeight 1.5s infinite alternate ease-in-out;
}

.miniLoader sub:nth-child(2) {
  animation-delay: 0.5s;
}

.miniLoader sub:nth-child(3) {
  animation-delay: 1s;
}

@keyframes toggleHeight {
  0% {
    height: 10px;
  }

  50% {
    height: 15px;
  }

  100% {
    height: 20px;
  }
}

@media all and (max-width:850px) {
  .formBox {
    height: auto;
    min-height: auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  .formBox .left {
    height: 200px;
  }
}